
*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcbkptlist

*.xcscheme

*.plist
*.opendb
*.db
*.filters
*.sln
*.vcxproj
*.suo
*.pdb
*.tlog
*.idb
*.ilk
*.log
*.obj
/Java/Basics/nbproject/private/
/Java/Basics/build/
*.properties

*.xml

*.mf
Evaluaciones/.DS_Store
Evaluaciones/.DS_Store
.DS_Store
